<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333604229505-3b1l99hm4sghaq3pfsj7vprqml3ia9fo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333604229505-3b1l99hm4sghaq3pfsj7vprqml3ia9fo</string>
	<key>API_KEY</key>
	<string>AIzaSyBEMvCRT5a3rNl4_tyJ7QnUrPjbK4GAUio</string>
	<key>GCM_SENDER_ID</key>
	<string>333604229505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.giantsweetroll.ripperdocFrontend</string>
	<key>PROJECT_ID</key>
	<string>ripperdoc-53af5</string>
	<key>STORAGE_BUCKET</key>
	<string>ripperdoc-53af5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333604229505:ios:01d1455f31516a6eadd880</string>
</dict>
</plist>